.size-50 {
    height: 50;
    width: 50;
  }
  
  .bg-red {
    background-color: red;
  }
  
  .bg-green {
    background: green;
  }
  
  .bg-blue {
    background-color: blue;
  }
  .parent-box {
    overflow: auto;
    height: 100;
    width: 100;
    border: 1px dotted black;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }